
@{
    ViewBag.Title = "Register";
}

@model breakthrough.Models.User
<div>
    <br />
</div>
<form asp-action="Register" method="post">
    <label>Name:</label>
    <input class="form-control" type="text" name="Name" placeholder="Enter Fullname" required />

    <label>Birthdate:</label>
    <input class="form-control" type="date" name="Birthdate"  required />

    <label>Phone Number:</label>
    <input class="form-control" type="text" name="PhoneNumber" placeholder="Enter Phone number" required />

    <label>Email:</label>
    <input class="form-control" type="email" name="Email" placeholder="Enter email" required />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    <br/>
    <label>Password:</label>
    <input class="form-control" type="password" name="Password" placeholder="Enter Password"required />

    <label>Confirm Password:</label>
    <input class="form-control" type="password" name="ConfirmPassword" placeholder="Confirm Password" required />

    <label>Role:</label>
    <select class="form-label mt-4" name="Role" required>
        <option value="Leader">Leader</option>
        <option value="Member">Member</option>
    </select>


    <button class="btn btn-primary btn-md" type="submit">Register</button>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
</form>
<div>
    <br />
</div>

